<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.EmployeeMapper">
    <insert id="addStudentList" parameterType="java.util.ArrayList">
        insert into student (sid, sname, ssex, sage, sphone, cid, uid) values
        <foreach collection="list" item="i" separator=",">
            (
            #{i.sid},
            #{i.sname},
            #{i.ssex},
            #{i.sage},
            #{i.sphone},
            #{i.classes.cid},
            #{i.user.uid}
            )
        </foreach>
    </insert>
    <insert id="addStudent" parameterType="com.qf.pojo.Student">
        insert into student (sid, sname, ssex, sage, sphone, cid, uid) values (sid, sname, ssex, sage, sphone, classes.cid, user.uid)
    </insert>
    <insert id="addUser" parameterType="com.qf.pojo.User" useGeneratedKeys="true" keyProperty="uid">
        insert into user (username,rolename) values (#{username},#{rolename})
    </insert>

    <select id="getEmployeeByUid" parameterType="int" resultType="com.qf.pojo.Employee">
        select * from employee where uid=#{uid}
    </select>
    <select id="getClassesByEid" parameterType="int" resultType="com.qf.pojo.Classes">
        select * from classes where eid=#{eid}
    </select>
    <select id="getStudentListByCid" parameterType="int" resultType="com.qf.pojo.Student">
        select * from student where cid=#{cid}
    </select>
</mapper>
<mapper namespace="com.qf.mapper.RoleMapper">
    <resultMap id="usermap" type="user">
        <id property="uid" column="uid"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="rolename" column="rolename"></result>
    </resultMap>
    <resultMap id="employmap" type="employee">
        <id property="eid" column="eid"></id>
        <result property="ename" column="ename"></result>
        <result property="esex" column="esex"></result>
        <result property="eage" column="eage"></result>
        <result property="ephone" column="ephone"></result>
        <association property="user" column="uid" javaType="user" resultMap="usermap"></association>
    </resultMap>
    <select id="getEmployeeCK" parameterType="employee" resultType="employmap">
        select * from employee,user
        <where>
            <if test="eid!=0">
                eid=#{eid}
            </if>
            <if test="user.uid!=0">
               and uid=#{user.uid}
            </if>
            and employee.uid=user.uid
        </where>
    </select>
    <insert id="addEmployeeTJ" parameterType="employee">
        insert into employee (ename,esex,eage,ephone,uid) values (#{ename},#{esex},#{eage},#{ephone},#{user.uid})
    </insert>
    <update id="updateEmployeeXG" parameterType="employee">
        update employee
        <set>
            <if test="ename!=null">
                ename=#{ename}
            </if>
            <if test="esex!=null">
                esex=#{esex}
            </if>
            <if test="eage!=0">
                eage=#{eage}
            </if>
            <if test="ephone!=null">
                ephone=#{ephone}
            </if>
        </set>
        where uid=#{user.uid}
    </update>
    <delete id="deleteEmployeeSC" parameterType="employee">
        delete employee where uid=#{user.uid}
    </delete>
</mapper>
        <!--yubo-->