<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.RoleMapper">
    <select id="getPasswordByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select password from user where username=#{username}
    </select>

    <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.qf.pojo.User">
        select * from user where username=#{username}
    </select>
    <select id="getRolenameByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select rolename from user where username=#{username}
    </select>



    <select id="getRoleCK" parameterType="role" resultType="role">
        select * from role
        <where>
            <if test="roleName!=null">
                rolename=#{roleName}
            </if>
            <if test="roleId!=0">
                role_id=#{roleId}
            </if>
        </where>
    </select>



</mapper>
        <!--yubo-->