<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.WeekReportMapper">

    <insert id="addWeekReport" parameterType="com.qf.pojo.WeekReport">
        insert into weekreport (title, create_date, info, sid, score, is_delete) values (title, createDate, info, student.sid, score, isDelete)
    </insert>
    <update id="updateWeekReport" parameterType="com.qf.pojo.WeekReport">
        update weekreport set is_delete=#{is_delete} where wid=#{wid}
    </update>
    <delete id="deleteWeekReport" parameterType="int">
        delete from weekreport where wid=#{wid}
    </delete>
</mapper>